
  /* gray container for visualization */
  .vizContainer {
    width: 100%;
    height: 500px;
    background: #EEE;
  }

  /* outer element for bubble */
  .txBubble {
    position: absolute;
  }

  /* inner element for bubble */
  .txBubbleInner {
    width: 100%;
    height: 100%;
    position: relative;
    background: green;
    border-radius: 50%;
    -webkit-animation: expand 1s ease-in-out;
  }

  /* box displaying information about a transaction on click */
  .toolTip {
    width: auto;
    height: 40px;
    padding: 0 5px;
    background: #AAA;
    border-radius: 4px;
    color: white;
    position: absolute;
  }

  /* words in tooltip */
  .toolTip p {
    line-height: 40px;
  }

  /* Animations */

  @-webkit-keyframes expand {
    0% {
      width: 0;
      height: 0;
      left: 50%;
      top: 50%;
    }

    100% {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }